<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        a {
            margin-left: 20px;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>Your name:
        <%- user.name %>
    </h1>
    <p>Welcome to your home!</p>
    <p><a href="/logout">我要注销</a></p>
</body>

</html>